<ul class="mdc-list mdc-list--two-line">
        <li class="mdc-list-item" tabindex="0">
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">First-line text</span>
            <span class="mdc-list-item__secondary-text">Second-line text</span>
          </span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">First-line text</span>
            <span class="mdc-list-item__secondary-text">Second-line text</span>
          </span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">First-line text</span>
            <span class="mdc-list-item__secondary-text">Second-line text</span>
          </span>
        </li>
      </ul>