<a mat-fab [routerLink]="['new']" color="primary">
  <mat-icon>add</mat-icon>
</a>

<router-outlet></router-outlet>

<table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Dieta </th>
      <td mat-cell *matCellDef="let diet">{{ diet.name }}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let diet">{{ diet.description }}</td>
    </ng-container>

    <ng-container matColumnDef="type_diet">
      <th mat-header-cell *matHeaderCellDef> Tipo de Dieta </th>
      <td mat-cell *matCellDef="let diet">{{ diet.type }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Opção</th>
      <td mat-cell *matCellDef="let diet">
        <button class="button-icon" mat-icon-button [matMenuTriggerFor]="dietMenu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #dietMenu="matMenu">
          <button mat-menu-item [routerLink]="['edit', diet.id]">Editar</button>
          <button mat-menu-item (click)="remove(diet.id)">Remover</button>
        </mat-menu>
      </td>

    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator
[length]="diets.length"
[pageSize]="listQuery.limit"
[pageIndex]="listQuery.page - 1"
[pageSizeOptions]="[5, 10, 25, 100]"
[showFirstLastButtons]="true"
(page)="pageChange($event)">    
</mat-paginator>