<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
            <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex>Gerenciamento de Academia</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
        <mat-toolbar class="toobar"><app-logo></app-logo></mat-toolbar>
        <mat-nav-list>     
            <a mat-list-item [routerLink]="['/menu/training']" [routerLinkActive]="['is-active']">
                <mat-icon>calendar_today</mat-icon>&nbsp;&nbsp;&nbsp;
                <div>Treinos</div>
            </a>
            <a mat-list-item [routerLink]="['/login']" [routerLinkActive]="['is-active']">
                <mat-icon>local_dining</mat-icon>&nbsp;&nbsp;&nbsp;
                <div>Dietas</div>
            </a> 
            <a mat-list-item [routerLink]="['/menu/users']" [routerLinkActive]="['is-active']">
                <mat-icon>account_circle</mat-icon>&nbsp;&nbsp;&nbsp;
                <div>Usuários</div>
            </a>    
            <a mat-list-item [routerLink]="['/']" [routerLinkActive]="['is-active']">
                <mat-icon>fitness_center</mat-icon>&nbsp;&nbsp;&nbsp;
                <div>Equipamentos</div>
            </a>   
 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>