# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Artefatos/Projeto/client/dist
/Artefatos/Projeto/client/tmp
/Artefatos/Projeto/client/out-tsc
# Only exists if Bazel was run
/Artefatos/Projeto/client/bazel-out

# dependencies
/Artefatos/Projeto/client/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/Artefatos/Projeto/client/.idea
.project
.classpath
.vs
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/Artefatos/Projeto/client/.sass-cache
/Artefatos/Projeto/client/connect.lock
/Artefatos/Projeto/client/coverage
/Artefatos/Projeto/client/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/Artefatos/Projeto/client/typings

# System Files
.DS_Store
Thumbs.db
