mat-checkbox {
    margin-top: 15px;
}

.header button {
    margin-top: 5px !important;
}

form {
    padding: 16px;
    margin-bottom: calc(20vh);
    display: flex;
    flex-direction: column;
    width: 100%;
}
