<div fxLayout="row" class="header">
    <button mat-icon-button type="button" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
    <h2 fxFlex>{{ isNew ? 'Cadastro' : 'Edição'}}  de Dieta</h2>
    <button mat-icon-button type="submit" form="form" (click)="save()">
        <mat-icon>done</mat-icon>
    </button>
</div>

<form [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex="50">
            <input matInput placeholder="Dieta" formControlName="diet_name" maxlength="50"/>
            <mat-error *ngIf="haserror(diet_name, required)">Informe a Dieta!</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field fxFlex="400">
            <textarea matInput placeholder="Descreva a Dieta:" formControlName="description" maxlength="2000" rows="4" cols= "150"></textarea>
            <mat-error *ngIf="haserror(description, required)">Descreva a Dieta!</mat-error>
        </mat-form-field>
    </div>
</form>