body, html {
    margin: 0;
}

.page-container {
    position: relative;
    padding: 16px !important;
    margin: auto;
    margin-top: 0;
    min-height: calc(100vh - 100px);
    background-color: rgb(255, 255, 255);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spinner {
    position: absolute;
    left: 45%;
    mat-spinner {
        margin: auto;
        width: 100px;
        height: 100px;
    }
}

mat-bottom-sheet-container {
    overflow-y: hidden !important;
}