body, html {
    margin: 0;
}

.page-container {
    position: relative;
    padding: 16px 16px 70px 16px !important;
    margin: auto;
    min-height: calc(100vh - 150px);
    background-color: rgb(255, 255, 255);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spinner {
    margin-top: 150px;
    mat-spinner {
        margin: auto;
        width: 100px;
        height: 100px;
    }
}