<mat-list>
  <mat-list-item *ngFor="let user of users" (click)="edit()">
    <img matListAvatar src="../../../assets//images//avatar.png">
    <h3 matLine>{{ user.first_name }}</h3>
    <p matLine><span>{{ user.email }}</span></p>
    <button class="button-icon" mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>more_vert</mat-icon></button>
  </mat-list-item>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="edit()">Editar</button>
    <button mat-menu-item (click)="remove()">Remover</button>
  </mat-menu>
</mat-list>
