<div fxLayout="row" class="header">
    <button mat-icon-button type="button" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
    <h2 fxFlex>{{ isNew ? 'Cadastro' : 'Edição' }} da agenda</h2>
    <button mat-icon-button  type="submit" form="form" (click)="save()">
        <mat-icon>done</mat-icon>
    </button>
</div>
<form [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
            <input matInput placeholder="Nome" formControlName="name" maxlength="50">
            <!-- <mat-error *ngIf="hasError('name', 'required')">Informe o nome</mat-error> -->
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">            
            <input type="text" placeholder="Exercicio"  formControlName="training" aria-label="Treino" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filterExercise | async" (optionSelected)="form.controls.training.setValue($event.option.value)" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

</form>