<div class="bg-academia">
    <mat-card>
        <div class="title-training">
                <h1>Treinamentos WorkingByte</h1>
        </div>  
        <mat-card-content> 
           
            <div>
                <h2> Cadastrar Treino para Atleta: {{atleta?.name}} !</h2>
            
        
                <form [formGroup]='form'>

                    <mat-form-field class='full-width-input'>
                        <input formControlName = "name" matInput type="text" placeholder="Treino">
                    </mat-form-field>

                    <mat-form-field class='full-width-input'>
                      <mat-label>Tipo de Treino</mat-label>
                        <mat-select [(value)]="id_type">
                            <mat-option value ="Peito">Peito</mat-option>
                            <mat-option value = "Pernas">Pernas</mat-option>
                            <mat-option value = "Costas">Costas</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class='full-width-input'>
                        <input formControlName = "rep" matInput type="number" placeholder="Repetições">
                    </mat-form-field>

                    <mat-form-field class='full-width-input'>
                        <input formControlName = "weight" matInput type="number" placeholder="Carga">
                    </mat-form-field>

                    <mat-form-field class='full-width-input'>
                        <input formControlName = "id_equip" matInput type="text" placeholder="Aparelho">
                    </mat-form-field>

                </form>
                <button mat-raised-button (click)='submit()'>Submit</button>
				<button mat-raised-button (click)='cancel()'>Cancel</button>

            </div>
        </mat-card-content>
    </mat-card>
</div>
