<a mat-fab [routerLink]="['new']" color="primary">
    <mat-icon>add</mat-icon>
</a>
  
  <router-outlet></router-outlet>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let training">{{ training.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let training">{{ training.description}}</td>
    </ng-container>
    <ng-container matColumnDef="option" >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let training">
              <button class="button-icon" mat-icon-button [matMenuTriggerFor]="dietMenu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #dietMenu="matMenu">
                <button mat-menu-item [routerLink]="['edit', training.id]">Editar</button>
                <button mat-menu-item (click)="remove(training.id)">Remover</button>
              </mat-menu>
            </td>
      
          </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>