<div fxLayout="row" class="header">
    <button mat-icon-button type="button" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
    <h2 fxFlex>{{ isNew ? 'Cadastro' : 'Edição' }} da agenda</h2>
    <button mat-icon-button  type="submit" form="form" (click)="save()">
        <mat-icon>done</mat-icon>
    </button>
</div>
<form [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
            <input matInput placeholder="Nome" formControlName="name" maxlength="50">
            <mat-error *ngIf="hasError('name', 'required')">Informe o nome</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">            
            <input type="text" placeholder="Assignee" formControlName="training" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="39">
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error *ngIf="hasError('date', 'required')">Informe a data</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="27">
            <input matInput placeholder="Hora Inicio" formControlName="timeInitial" id="timeInitial" type="time">
            <mat-error *ngIf="hasError('timeInitial', 'required')">Informe o horario de inicio</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="29">
            <input matInput placeholder="Hora Termino" formControlName="timeEnd" id="timeEnd" type="time">
            <mat-error *ngIf="hasError('timeEnd', 'required')">Informe o horario de termino</mat-error>
        </mat-form-field>
    </div>
</form>